<p id="notice"><%= notice %></p>

<p>
  <strong>Classname:</strong>
  <%= @enrollment.className %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
